<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Client Response</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif;">
  <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
    <div style="text-align: center;">
      <img src="https://media.licdn.com/dms/image/C5112AQHDlre2CXjsrg/article-cover_image-shrink_600_2000/0/1554293484361?e=2147483647&v=beta&t=gduYH_5PQ2kaXS_6jeSvOG3SbSlShGbW6GkaJhpPpmw" alt="logo_official" width="105" />
    </div>
    <br />
    <div style="text-align: center;">
      <img src="https://img.freepik.com/free-vector/thank-you-placard-concept-illustration_114360-13436.jpg?w=826&t=st=1707387620~exp=1707388220~hmac=361d21330f72b61ab28982664fbb5746ce99314982e43ffd985ccc3c2055e7d3" width="250" alt="thankyou-illustration" />
    </div>
    <p style="text-align: center;">Hey Mr/Ms <span style="font-weight: bold;">{{Username}}</span>,</p>
    <p style="text-align: center;">Thank you for contacting us. We are excited to welcome you and will contact you as soon as possible.</p>
    <div style="text-align: center;">
      <a href="https://www.focusrtech.com" style="display: inline-block; padding: 10px 20px; background-color: #ff1a1a; color: #fff; text-decoration: none; border-radius: 54px;">Discover more about us</a>
    </div>
    <br />
    <p style="text-align: center;">
      This is a system-generated email. Please do not reply. If you have any queries, contact us at <span style="color: #ff1a1a; font-weight: bold;">enquiry@focusr.com</span>.
    </p>
    <hr />
    <p style="text-align: center; font-weight: bold;">
      Copyrights © 2022 FocusR Consultancy and Technologies
    </p>
  </div>
</body>
</html>
